@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&display=swap");
$logo-font: "Audiowide", cursive;
$content-font: "Black Ops One", cursive;
$pad-size: 90px;

html {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/pexels-maurício-mascaro-801863.jpg");
    background-size: cover;
    filter: hue-rotate(150deg);
    background-position-y: -800px;
  }
}
.machine-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 98.3vh;
}
#drum-machine {
  background-image: linear-gradient(315deg, #1b1b1bfa 0%, #2a2e30f6 74%);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 1px #101010d9;
}

#header {
  color: white;
  display: grid;
  grid-template-columns: auto 1fr 70px;
  grid-gap: 20px;
  padding: 0 0 35px 0;
  height: 75px;
}

#logo {
  font-family: $logo-font;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;
  .top {
    font-size: 1.55rem;
  }
  .bottom {
    font-size: 1.2rem;
  }
}
#model {
  display: flex;
  font-family: $content-font;
  align-items: center;
  font-size: 1.5rem;
  text-align: left;
}
#display-wrapper {
  background: linear-gradient(
    180deg,
    #d0d8d0f2 0%,
    #9ba29bf2 40%,
    #99a099f2 60%,
    #d0d8d0f2 100%
  );
  box-shadow: inset 1px -1px 7px 3px #4a4a4a, 0 0 1px 1px #ffffff80;
  display: flex;
  align-items: center;
}

#display {
  font-family: $content-font;
  color: black;
  font-size: 2.2rem;
  display: inline-block;
  margin: 0 auto;
}

#main-block {
  display: grid;
  grid-template-columns: 290px auto;
  font-family: $content-font;
}

#side {
  label {
    background: white;
    padding: 4px 5px 5px 5px;
    border-radius: 4px;
    font-size: 1rem;
    color: black;
  }
  .volume {
    display: flex;
    padding-bottom: 20px;
    label {
      margin-right: 10px;
    }
  }
  .bank {
    position: relative;
    hr {
      position: absolute;
      width: 80px;
      color: white;
      right: 16px;
      top: 5px;
      &.left {
        left: -161px;
      }
    }
    .label-wrapper {
      display: flex;
      justify-content: center;
      padding-bottom: 15px;
    }
    .bank-selectors {
      display: grid;
      grid-template-columns: 75px 75px 75px;
      grid-template-rows: 15px 13px;
      grid-template-areas: "lab lab lab" "butA butB butC";
      grid-column-gap: 15px;
      grid-row-gap: 0;
      justify-content: center;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    .button {
      background: linear-gradient(
        180deg,
        #d0d8d0f2 0%,
        #9ba29bf2 40%,
        #99a099f2 60%,
        #d0d8d0f2 100%
      );
      box-shadow: inset 1px -1px 7px 3px #4a4a4a;

      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      &.active {
        background: linear-gradient(
          180deg,
          #37a237f2 0%,
          #17ac17f2 40%,
          #2dca2df2 60%,
          #29ce29f2 100%
        );
        box-shadow: inset 1px -1px 7px 3px #5fac4f;
      }

      &.A {
        grid-area: butA;
      }
      &.B {
        grid-area: butB;
      }
      &.C {
        grid-area: butC;
      }
    }
  }
}
#drum-pads {
  display: grid;
  grid-template-columns: $pad-size $pad-size $pad-size $pad-size;
  grid-template-rows: $pad-size $pad-size $pad-size;
  row-gap: 15px;
  column-gap: 20px;
}

.drum-pad {
  background: linear-gradient(100deg, #131313, #272727);
  box-shadow: 0 0 6px 1px #cc2121bd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #cc212194;
  text-shadow: 1px 1px 6px #cc212180;
}
.pressed {
  background: linear-gradient(100deg, #131313, #272727);
  box-shadow: 0 0 9px 4px #d81111f0, inset 0 0 15px 10px #0a0a0a;
  color: #cc2121eb;
  text-shadow: 1px 1px 2px #cc2121;
}

#footer {
  grid-area: footer;
}
